.CommunityList {
  .buttonWrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button {
    width: 44px;
    height: 22px;
    padding: 6px 8px;
    border: 1px solid #c7c7c7;
    border-radius: 6px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
